.poster {
  .children {
    margin: 0;
    padding: 0;
    background-color: inherit;
  }

  .content-share {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000000;
    height: 100vh;
    overflow: hidden;

    .poster {
      height: 91vh;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .share-image {
        width: 618px;
        height: 860px;
      }

      .taro-canvas {
        opacity: 0;
      }

      .close {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        height: 40px;

        .image {
          width: 40px;
          height: 40px;
        }
      }
    }

    .share {
      background-color: #fff;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 9vh;
      align-items: center;

      .weixin {
        flex: 1;
        text-align: center;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;

        .image {
          width: 32px;
          height: 28px;
        }

        .text {
          font-size: 20px;
          color: #8A8A8A;
        }
      }

      .weixin::after {
        border: none;
      }

      .line {
        width: 2px;
        height: 9vh;
        background: rgb(216, 216, 216);
        border-radius: 1px;
      }

      .friend {
        flex: 1;
        text-align: center;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;

        .image {
          width: 32px;
          height: 28px;
        }

        .text {
          font-size: 20px;
          color: #8A8A8A;
        }
      }

      .friend::after {
        border: none;
      }
    }
  }
}
